body{
	background-color:gray;
}
ul li{
	float:left;
	margin: 5px;
	list-style:none;
	font-family:sans-serif;
	background-color:#FFFFFF;
	border-radius:30%;
	padding:10px;
}
li{
	margin-left: 20%;
	color:black;
}
.li1{
	margin-left: 45%;
}
.li2{
	margin-left: 30%;
}
.li3{
	margin-left: 20%;
}
.li4{
	margin-left: 22%;
	margin-right: 18%;
	color:black;
}
h1{
	color:blue;
	text-align:center;
}
h2{
	text-align: center;
	color:black;
}
.img1{
	margin-left: 45%;
	background-repeat: no-repeat;
}
.img2{
	margin-left: 37%;
	background-repeat: no-repeat;
}
img{
	margin-left: 25%;
	background-repeat: no-repeat;
}
video{
	margin-left: 25%;
}
.a1{
	margin-left: 25%;
}
a{
	margin-left: 5%;
	color:darkred;
}
iframe{
	margin-left: 5%;
	margin-right:30%;
}
div p {
  margin-left: 20%;
  margin-right:20%;
  padding: 20px;
  text-align: center;
}
div{
	border: 1px solid black;
}
.div1{
	margin-left: 30%;
	margin-right:30%;
	border: 3px solid black;
}
.div2{
	margin-left: 5%;
	margin-right:5%;
	border: 1px solid black;
}
p{
	color:black;
}
.p1{
	color:darkblue;
	padding:1px;
}
table{
	margin-left: 25%;
	margin-right:15%;
}
